<ion-view title="Login Page">
    <ion-content class="barc">
        <div>
            <div class="bar bar-header bar-energized">
              <h1 class="title">Login page</h1>
            </div>
            <br><br>
            <div class="list list-inset">
                <p class="error">{{errormsg}}</p>
                <p class="display">{{sucmsg}}</p>
               <br><br>
                <label class="item item-input">
                    <input ng-model="username" type="number" placeholder="Mobile Number" />
                </label>
                <label class="item item-input">
                    <input ng-model="password" type="password" placeholder="Password" />
                </label>
                
            </div>
            <div class="padding-left padding-right">
            <div class="list">
                <div class="button-bar">
                    <a class="button" ng-click="login(username, password)">Login</a>
                    <a class="button" ng-click="register()">SignUp</a>
                    
                </div>
                <br><br>
               </div>
            </div>
    </ion-content>
</ion-view>