/* Empty. Add your own CSS if you like */
.button{
color: crimson;
    background-color: chocolate
}
.bar.bar-stable .title{
    color: darkmagenta;
    background-color: antiquewhite;
}
.abc{
    background-color: darksalmon;
}