<ion-view title="Login Page">
    <ion-content class="barc">
        <div>
            <div class="bar bar-header bar-assertive">
              <h1 class="title">Invoice page</h1>
            </div>
            <br><br>
            <div class="list list-inset">
                <p class="error">{{errormsg}}</p>
                <p class="display">{{sucmsg}}</p>
               <!-- <p class="display">{{msg}}</p>--><br><br>
                
                
                <table align = "center" style="width:100%" >
                <tr style="font-weight:bold">
                    <th>Product Name</th>
                    <th>Product Price</th>		
                    
                  </tr>
                  <tr>
                    <td>Rid Step 3 Home Lice Control Spray, 5 oz</td>
                    <td>5.28</td>		
                    
                  </tr>
                  <tr>
                    <td>Old Spice Red Zone After Hours High Performance Solid Deodorant, 2.6 oz</td>
                    <td>3.91</td>		
                    
                  
                  <tr style="font-weight:bold">
                    <td>Subtotal</td>
                    <td>9.19</td>		
                    
                  </tr>
                    <tr style="font-weight:bold">
                    <td>Tax 5%</td>
                    <td>0.45</td>		
                    
                  </tr>
                    <tr style="font-weight:bold">
                    <td>Total Amount</td>
                    <td>9.64</td>		
                    
                  </tr>
                    
                </table>
                
                
                
                
                
                
            </div>
            <div class="padding-left padding-right">
            <div class="list">
                <div class="button-bar">
                    <a class="button" ng-click="confirm()">Confirm Payment</a>
                    
                    <!--<a class="button" ng-click="delete(username, password)">Delete</a>-->
                    
                </div>
                <br><br>
                
                
            </div>
            
        </div>
        </div>
    </ion-content>
</ion-view>