
<ion-view title="My Bills Page">
    <ion-content class="barc">
        <div>
            <div class="bar bar-header bar-assertive">
              <h1 class="title">My Bills</h1>
            </div>
            <br><br>
             <h2 class="display">{{user}}</h2>
            <div class="list list-inset">
                
                
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/invoice">

                <h2>11/11/2015  20:10</h2>
                
              </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">

                <h2>11/10/2015  9:30</h2>
                
              </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">

                <h2>11/10/2015  8:10</h2>
                
              </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">

                <h2>11/09/2015  15:10</h2>
                
              </ion-item>
                
                
                
                
                
            </div>
            
        </div>
    </ion-content>
</ion-view>