<ion-view view-title="Barcode Image">
  <ion-content class="padding">
      <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
    <!--<div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>-->
      
      <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Enter URL" id="barcode" ng-model="barcode">
  </label>
  <button class="button button-royal" ng-click="getWeather();">
  View Barcode
</button><br>
Barcode Number: {{st_place}}
</div>
      
      
  </ion-content>
</ion-view>
